# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
ENV/
env/
.pytest_cache/
*.sqlite3
*.db
*.log
*.pot
*.mo
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Build
dist/
build/

# Misc
*.swp
*.swo
*.tmp
.idea/
